@layer components {
  /* Global */
  .w-of-container {
    @apply max-w-4xl;
  }
  .w-of-block {
    @apply w-[322px] xs:w-[343px] sm:w-[580px];
    /* @apply w-[322px] xs:w-[343px] sm:w-[900px]; */
  }

  /* Layout // */
  /* Navigation Bar */
  /* Scroll Bar */
  /* ScrollBar */
  .scroll-bar::-webkit-scrollbar-track,
  pre::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);
    /* border-radius: 8px; */
  }

  .scroll-bar::-webkit-scrollbar,
  pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
    /* border-radius: 8px; */
  }

  .scroll-bar::-webkit-scrollbar-thumb,
  pre::-webkit-scrollbar-thumb {
    background-color: #6e6f73;
    border: 0px solid #fff;
    box-shadow: none;
    /* border-radius: 8px; */
  }
  /* Side Bar */

  /* Category Page // */

  /* Components Page // */
  .component-page {
    @apply flex flex-col xl:flex-row w-full mx-auto w-of-container gap-2 xl:gap-5 h-[480px] xl:h-[370px] items-start sm:items-center md:items-start py-7 xl:py-16;
    /* @apply flex flex-col w-full mx-auto w-of-container gap-2 xl:gap-5 h-[480px] xl:h-[370px] items-start sm:items-center md:items-start py-7 xl:py-16; */
  }

  /* Header Block */
  .header {
    @apply flex justify-between items-center sm:max-w-[280px] w-full sm:mx-auto pb-2 pt-2 px-4 xl:px-0;
    .header-content {
      .header__heading {
        @apply capitalize text-4xl mt-2 mb-2 font-semibold text-typo-main;
      }
      .header__category {
        @apply text-xs font-poppins tracking-wider font-medium bg-primary-navy text-white hover:text-white px-2 py-1 rounded-full;
      }
      .header__tagline {
        @apply text-base text-typo-minor line-clamp-2;
      }
    }
  }

  /* Showcase Page */
  .showcase {
    @apply max-w-4xl mx-auto flex flex-col sm:flex-row justify-start items-start gap-5;
  }

  /* Component Block */
  .component-container {
    @apply absolute z-30 w-of-block mx-auto flex justify-center rounded-xl overflow-hidden bg-gray-100 shadow-inner;
  }
  /* Code-Editor Block */
  .code-editor {
    @apply mx-auto;
    .code-editor__statusbar {
      @apply h-8 bg-[#1E1E1E] w-of-block flex items-center justify-start rounded-t-md pl-2;
    }
    .code-editor__filename {
      @apply flex flex-row gap-2 bg-[#1E1E1E];
    }
    .code-editor-container {
      @apply relative h-code-block-height bg-[#1E1E1E] rounded-b-md;
      .code-editor-container__sourcecode {
        @apply transition-all duration-150 absolute top-0 left-0 rounded-b-md;
      }
    }
    pre {
      margin-top: 0px !important;
      @apply w-of-block h-code-block-height shadow-2xl;
    }
  }
} ;
