@layer components {
  /* Layout // */
  /* Navigation Bar */
  /* Scroll Bar */
  /* ScrollBar */
  .scroll-bar::-webkit-scrollbar-track,
  pre::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.1);
    /* border-radius: 8px; */
  }

  .scroll-bar::-webkit-scrollbar,
  pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
    /* border-radius: 8px; */
  }

  .scroll-bar::-webkit-scrollbar-thumb,
  pre::-webkit-scrollbar-thumb {
    background-color: #6e6f73;
    border: 0px solid #fff;
    box-shadow: none;
    /* border-radius: 8px; */
  }
  /* Side Bar */

  /* Category Page // */

  /* Components Page // */

  /* Header Block */
  .header {
    @apply flex justify-between items-center mx-auto max-w-[580px] py-5;
    .header-content {
      .header__heading {
        @apply capitalize text-4xl mb-2  font-semibold text-typo-main;
      }
      .header__tagline {
        @apply capitalize text-base max-w-[360px] text-typo-minor;
      }
    }
  }

  .description {
    @apply hidden justify-between items-center mx-auto max-w-[590px] py-5;
  }

  /* Showcase Page */
  .showcase {
    @apply max-w-4xl mx-auto flex flex-col sm:flex-row justify-start items-start gap-5;
  }

  /* Code-Editor Block */
  .code-editor {
    .code-editor__filename {
      @apply flex flex-row gap-2;
    }
    .code-editor__sourcecode {
      @apply transition-all duration-150;
    }
    pre {
      margin-top: 0px !important;
      @apply w-[320px] xl:w-[580px] h-[508px] rounded-b-md;
    }
  }
} ;
