/* Tenor Sans */
/* @font-face {
  font-family: Tenor Sans;
  font-weight: 400;
  src: url('/fonts/TenorSans/TenorSans-Regular.ttf')
    format('truetype');
} */
/* Nunito */
@font-face {
  font-family: Nunito;
  font-weight: 200;
  src: url('/fonts/Nunito/Nunito-Thin.ttf')
    format('truetype');
}
@font-face {
  font-family: Nunito;
  font-weight: 300;
  src: url('/fonts/Nunito/Nunito-Light.ttf')
    format('truetype');
}
@font-face {
  font-family: Nunito;
  font-weight: 400;
  src: url('/fonts/Nunito/Nunito-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: Nunito;
  font-weight: 500;
  src: url('/fonts/Nunito/Nunito-Medium.ttf')
    format('truetype');
}
@font-face {
  font-family: Nunito;
  font-weight: 600;
  src: url('/fonts/Nunito/Nunito-SemiBold.ttf')
    format('truetype');
}
/* Poppins */
@font-face {
  font-family: Poppins;
  font-weight: 200;
  src: url('/fonts/Poppins/Poppins-Thin.ttf')
    format('truetype');
}
@font-face {
  font-family: Poppins;
  font-weight: 300;
  src: url('/fonts/Poppins/Poppins-Light.ttf')
    format('truetype');
}
@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url('/fonts/Poppins/Poppins-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url('/fonts/Poppins/Poppins-Medium.ttf')
    format('truetype');
}
@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf')
    format('truetype');
}
@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url('/fonts/Poppins/Poppins-Bold.ttf')
    format('truetype');
}
/* Lato */
@font-face {
  font-family: Lato;
  font-weight: 200;
  src: url('/fonts/Lato/Lato-Thin.ttf')
    format('truetype');
}
@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url('/fonts/Lato/Lato-Light.ttf')
    format('truetype');
}
@font-face {
  font-family: Nunito;
  font-weight: 400;
  src: url('/fonts/Lato/Lato-Regular.ttf')
    format('truetype');
}
@font-face {
  font-family: Lato;
  font-weight: 500;
  src: url('/fonts/Lato/Lato-Medium.ttf')
    format('truetype');
}
@font-face {
  font-family: Lato;
  font-weight: 600;
  src: url('/fonts/Lato/Lato-SemiBold.ttf')
    format('truetype');
}
@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url('/fonts/Lato/Lato-Bold.ttf')
    format('truetype');
}
@font-face {
  font-family: Lato;
  font-weight: 800;
  src: url('/fonts/Lato/Lato-Black.ttf')
    format('truetype');
}
