@import './font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,h2,h3,h4,h5,h6 {
    font-family: Tenor Sans;
  }
  /* button, p, input {
    font-family: Tenor Sans;
  } */
}

/* ScrollBar */
.scroll-bar::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 8px;
}

.scroll-bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #FFF;
  border-radius: 8px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #6E6F73;
  border: 0px solid #fff;
  border-radius: 8px;
  box-shadow: none;
}