@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Tenor Sans;
  }
}
/* ScrollBar */
.scroll-bar::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
  /* border-radius: 8px; */
}

.scroll-bar::-webkit-scrollbar,
pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
  /* border-radius: 8px; */
}

.scroll-bar::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  background-color: #6e6f73;
  border: 0px solid #fff;
  box-shadow: none;
  /* border-radius: 8px; */
}

// Layout //
// Navigation Bar
// Side Bar

// Category Page //

// Components Page //

// Header Block
.header {
  display: unset;
  @apply flex justify-between items-center mx-auto max-w-2xl;
  .header-content {
    .header__heading {
      @apply capitalize text-3xl  font-semibold text-typo-main;
    }
    .header__tagline {
      @apply capitalize text-2xl max-w-[360px] text-typo-minor;
    }
  }
  .header-cover {
    @apply hidden pointer-events-none;
  }
}
.header__description {
  @apply hidden
}

.showcase {
  display: unset;
  @apply flex flex-col sm:flex-row justify-between items-start max-w-5xl mx-auto
}

.code-editor {
  .code-editor__filename {
    @apply flex flex-row gap-2
  }
  .code-editor__sourcecode {
    @apply transition-all duration-150
  }
  pre {
    margin-top: 0px !important;
    @apply w-[580px] h-[508px] rounded-b-md;
  }
}
// @import 'WebComponent';
// @import 'ShowcaseComponent';
